.categories {
    height: 250px;
    width: 780px;
    
  
}
h1 {
    text-align: left;
    padding: 20px;
}

.categories-items {
    width: 125px;
    height: 125px;
    border-radius: 30px;
    background-color: #FFF1C1;
    /* float: left;
    margin: 20px; */
} 

.images-categories {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}