@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
* {
  margin: 0 auto;
}

body {

  text-align: center;
}

h1 {
  font-size: 18px;
  font-weight: 700;
}