.orders {
  width: 80%;
}

.orders-title {
  font-size: 22px;
  font-family: "Raleway";
}
.orders-items {
  height: 90px;
  border-radius: 30px;
  background-color: red;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
