.restaurantpage {
    margin-left: 200px;
}
.banner {
    border-radius: 20px;
}

h1 {
    margin-top: 20px;
}
.favorites p {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Raleway';
    text-align: left;
}