@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

.navbar {

  background-color: #FF8A00;
  width: 200px;
  height: 100vh;
  float: left;

}

.logo {

  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 300px;

}

.menu-icons {
  color: white;
  width: 70%;
  margin-bottom: 30px;
  font-size: 16px;
  background-color: #F9CA26;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  font-family: 'Raleway';
  margin-bottom: 50px;

}

.menu-icons span {
  float: left;
  padding-top: 1px;
  border-radius: 15px;
}